@model SearchViewModel
@using (Html.BeginForm(FormMethod.Get, new { id = "searchform", @class="container-fluid" }))
{
	if (!string.IsNullOrEmpty(Model.Form.Author))
	{
		<input name="author" type="hidden" value="@Model.Form.Author"/>
	}
	<div class="row">
		<div class="page-header col-lg-2">
			<h1>NuSearch</h1>
		</div>
		<div class="page-header col-lg-10">
			<div class="input-group input-group-lg" id="query-container">
				@Html.TextBoxFor(m => m.Form.Query, new { id = "query", autocomplete="off", @class="form-control", placeholder = "Search for..." })
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Search</button>
				</span>
			</div>
		</div>
	</div>
	@Html.Partial("Pager", Model)
	@Html.Partial(Model.Total > 0 ? "Results" : "NoResults", Model)
	@Html.Partial("Pager", Model)
}
